*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
#list{
    color: crimson;
}
.list1{
    color: darkorchid;
}
.ul1{
    background-color: rgb(165, 42, 42);
    color: black;
    width: 25%;
    padding: 20px;
    margin: 20px;
    border: 5px solid black;
    border-radius: 10px;
    transition: 0.5 ease-in-out;
}
.ul1:hover{
    background-color: darkolivegreen;
    border: 2px solid black;
}
.ul1 ol li{
    font-size: 30px;
    font-weight: 700;
}
table,th,td{
    border: 1px solid black;
}