body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}
.counter-container{
    background: rgb(198, 106, 174);
    padding: 20px;
    border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0,0,0,0.2);
     display: inline-block;
}
button{
    font-size: 10px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#increase{
    background-color: green;
    color: white;
}
#decrease{
    background-color: red;
    color: white;
}
#reset{
    background-color: gray;
    color: white;
}
